body {
  display: flex;
  background-image: url(img/67110554-fdea5400-f20d-11e9-834a-d459a612b7b1.gif);
  color: #fff;  
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}

.game-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100vh;
  width: 100vw;
}

canvas {
  border: 4px solid blueviolet;
  border-radius: 8px;
  background-color: #42b883;
}

.btns {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
}

button {

  background-color: #fdef05;
  
  border-color: #ff6600;
  font-family: inherit;

  
  margin:  0;
  
}

#volume {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
#volume:hover {
  background-color: burlywood;
}

.messages {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 80%;
  max-width: 460px;
}

p {
  display: block;
  margin: 0;
  width: 100%;
}

#up, #down { margin-left: 100%; margin-right: 100%; }

/* segunda pantalla */

#final {
  display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


#reset {

  display: flex;
  margin-top: 20px;
  width: 100px;
  height: 50px;
  align-items: center;
  justify-content: center;

}

#reset:hover {
  background-color: burlywood;
}

#result {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: xx-large;
  font-weight: bold;
}

.fa-trophy{
  color: #fdef05;
}

/* titulo */

#titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#primera{

}

#iniciar{
  display: flex;
  margin-top: 20px;
  width: 100px;
  height: 50px;
  align-items: center;
  justify-content: center;
}

#iniciar:hover {
  background-color: burlywood;
}

@media (max-width: 440px) {
  button { margin-top: 25px; }
  #up, #down { margin-left: 100%; margin-right: 100%; }
}